<form class="addtask-form">
    <span class="head-2">Add Task</span>

    <div class="addtask-content">

        <div class="addtask-left bg-transparent">
            <span>Title</span>
            <mat-form-field appearance="outline">
                <mat-label>Enter a title</mat-label>
                <input matInput>
            </mat-form-field>

            <span>Description</span>
            <mat-form-field appearance="outline">
                <mat-label>Enter a Description</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>

            <span>Category</span>
            <mat-form-field appearance="outline">
                <mat-label>Select task category</mat-label>
                <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
            </mat-form-field>

            <span>Assigned to</span>
            <mat-form-field appearance="outline">
                <mat-label>Select contacts to assign</mat-label>
                <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="addtask-right bg-transparent">

            <span>Due date</span>
            <mat-form-field appearance="outline">
                <mat-label>MM/DD/YYYY</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <span>Prio</span>
            <div class="addtask-prio-btn">
                <button mat-stroked-button>Urgent <img src="./assets/img/urgent_col.svg" class="addtask-icon"></button>
                <button mat-stroked-button>Medium <img src="./assets/img/med_col.svg" class="addtask-icon"></button>
                <button mat-stroked-button>Low <img src="./assets/img/low_col.svg" class="addtask-icon"></button>
            </div>

            <span>Subtasks</span>
            <mat-form-field appearance="outline" class="addtask-sub">
                <mat-label>Add new subtask</mat-label>
                <input matInput>
                <button matSuffix mat-button mat-icon-button>
                    <mat-icon fontIcon="add"></mat-icon>
                </button>
            </mat-form-field>
            <div class="addtask-checkboxes">
                <mat-checkbox>TEST 1</mat-checkbox>
            </div>
        </div>
    </div>

    <div class="addtask-btns">
        <button mat-stroked-button class="addtask-btn-clear">Clear <mat-icon fontIcon="close"></mat-icon></button>
        <button mat-stroked-button class="addtask-btn-task">Create Task <mat-icon fontIcon="check"></mat-icon>
        </button>
    </div>
</form> 