
    <div class="contacts-list" >
        <mat-list>
            <div mat-subheader>A</div>
            <mat-divider></mat-divider>
            <mat-list-item class="contact-item" *ngFor="let contact of client.allContacts" routerLinkActive="" routerLink="contactdetail">
                <div class="contact-shortcut">{{contact.shortTag}}</div>
                <div>
                    <div mat-line><span class="contact-fn">{{contact.firstName}} </span><span class="contact-ln">{{contact.lastName}}</span></div>
                    <div mat-line class="contact-email">{{contact.email}}</div>
                </div>

            </mat-list-item>
        </mat-list>
    </div>