
    <div class="contacts-list">
        <mat-list>
            <div mat-subheader>A</div>
            <mat-divider></mat-divider>
            <mat-list-item class="contact-item">
                <div class="contact-shortcut">AB</div>
                <div>
                    <div mat-line><span class="contact-fn">Max </span><span class="contact-ln">Mustermann</span></div>
                    <div mat-line class="contact-email">Mustermann@Max.de</div>
                </div>

            </mat-list-item>
        </mat-list>
    </div>