mat-list {
    padding-right: 1rem;
}

:host ::ng-deep .mat-line {
    font-size: 1rem;
    position: relative;
}

.contacts-list {
    background-color: var(--background-light);
    overflow-y: scroll;
    padding-left: 2rem;
    top: 4rem;
    width: 18rem;
    height: 100%;
    bottom: 0;
}

.contact-shortcut {
    align-items: center;
    background-color: red;
    border-radius: 100%;
    color: white;
    display: flex;
    height: 1rem;
    justify-content: center;
    margin-right: 1rem;
    padding: 0.75rem;
    width: 1rem;
}

.contact-item {
    display: flex;
    border-radius: 1rem;
    margin-top: 1rem;
    &:hover {
        cursor: pointer;
        background-color: var(--shadow-light-color);
    }
}

.contact-email {
    color: var(--font-blue);
    font-size: 0.8rem !important;
}