
<div class="contact-dialog-cmpl">
    <div class="contact-dialog-left">
        <img class="logo" src="./assets/img/join.png">
        <span class="head-2">Add contact</span>
        <span class="contact-head-content">Tasks are better with a team!</span>
        <img class="design-line" src="./assets/img/deko-line.svg">
    </div>

    <div class="contact-dialog-right">
        <div class="close-dialog"><mat-icon mat-dialog-close>close</mat-icon></div>
        <div class="contact-initials">
            <img class="initials-placeholder" src="./assets/img/initials-ph.svg">
            <span></span>
        </div>
        <form [formGroup]="contactForm" class="dialog-input-area" (ngSubmit)="saveContact()">
            <mat-form-field appearance="outline">
                <mat-label for="first-name">Firstname</mat-label>
                <input id="first-name" type="text" formControlName="firstName" matInput placeholder="">
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label for="last-name">Lastname</mat-label>
                <input id="last-name" type="text" formControlName="lastName" matInput placeholder="">
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label for="email">Email</mat-label>
                <input id="email" type="email" formControlName="email" matInput placeholder="">
                <mat-icon matSuffix>mail</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label for="phone">Phone</mat-label>
                <input id="phone" type="number" matInput formControlName="phone" placeholder="">
                <mat-icon matSuffix>call</mat-icon>
            </mat-form-field>

            <div class="contact-dialog-btns">
                <button mat-stroked-button mat-dialog-close class="cancel-btn">Cancel <mat-icon fontIcon="close"></mat-icon></button>
                <button mat-stroked-button mat-dialog-close [disabled]="!contactForm.valid" type="submit" class="create-btn">Create contact <mat-icon fontIcon="check"></mat-icon></button>
            </div>
        </form>
    </div>
</div>
