<div class="contact-dialog-cmpl">
    <div class="contact-dialog-left">
        <img>
        <span>Add contact</span>
        <span>Tasks are better with a team!</span>
        <hr>
    </div>

    <div class="contact-dialog-right">
        <img>
        <div class="dialog-input-area">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input type="text" matInput placeholder="">
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="text" matInput placeholder="">
                <mat-icon matSuffix>mail</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Phone</mat-label>
                <input type="text" matInput placeholder="">
                <mat-icon matSuffix>call</mat-icon>
            </mat-form-field>

            <div>
                <button mat-stroked-button class="">Cancel <mat-icon fontIcon="close"></mat-icon></button>
                <button mat-stroked-button class="">Create contact <mat-icon fontIcon="check"></mat-icon></button>
            </div>
        </div>
    </div>
</div>