<div class="contacts-cmpl">
    <div class="contact-list-container">
        <div class="contacts-list">
            <mat-list *ngFor="let filterChar of filteredIndexChars">
                <div mat-subheader>{{filterChar}}</div>
                <mat-divider></mat-divider>
                <mat-list-item class="contact-item" *ngFor="let contact of allContacts" routerLinkActive="active-contact"
                    routerLink="contactdetail/{{contact.id}}" (click)="openContact(contact)">
                    <div class="contact-shortcut" [ngStyle]="{'background-color': contact.color}">{{contact.shortTag}}</div>
                    <div class="contact-names">
                        <div mat-line><span class="contact-fn">{{contact.firstName | titlecase }} </span><span
                                class="contact-ln">{{contact.lastName | titlecase }}</span></div>
                        <div mat-line class="contact-email">{{contact.email}}</div>
                    </div>
                </mat-list-item>
            </mat-list>
        </div>
    </div>

    <div class="contacts-detail">
        <div class="headline-content">
            <span class="headline-1 head-2">Contacts</span>
            <span class="headline-txt">Better with a team</span>
        </div>
        <router-outlet></router-outlet>
        <button mat-stroked-button class="contact-add-btn" (click)="openDialog()">New Contact <mat-icon
                fontIcon="person_add"></mat-icon></button>
    </div>
</div>
