.contacts-cmpl {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
}

/** contact-list **/

mat-list {
    padding-right: 1rem;
}

:host ::ng-deep .mat-line {
    font-size: 1rem;
    span {
        &::first-letter {
            text-transform: uppercase;
            }
        }
}

.contact-list-container {
    background-color: var(--background-light);
    height: 100%;
    width: 18rem;
}

.contacts-list {
    background-color: var(--background-light);
    bottom: 0;
    overflow-y: scroll;
    padding-left: 2rem;
    padding-top: 5rem;
    position: absolute;
    top: 0;
}

.contact-shortcut {
    align-items: center;
    background-color: red;
    border-radius: 100%;
    color: white;
    display: flex;
    height: 1rem;
    justify-content: center;
    margin-right: 1rem;
    padding: 0.75rem;
    width: 1rem;
}

.contact-item {
    border-radius: 1rem;
    display: flex;
    margin-top: 1rem;
    
    &:hover {
        background-color: var(--shadow-light-color);
        cursor: pointer;
    }
}

.contact-email {
    color: var(--font-blue);
    font-size: 0.8rem !important;
}

/** contacts-detail **/

.contacts-detail {
    height: 100%;
    position: relative;
    margin-left: 3rem;
    min-width: 35rem;
}

.headline-content {
    align-items: center;
    display: flex;
    padding-bottom: 2rem;
    padding-top: 2rem;

    .headline-1 {
        margin-right: 2rem;
    }
    .headline-txt {
        border-left: 2px solid var(--font-blue);
        font-size: 1.25rem;
        padding: 0.5rem 1rem;
    }
}

.contact-add-btn {
    position: absolute;
    bottom: 3rem;
    right: 2rem;
    background-color: var(--primary-color);
    color: var(--font-white);
    display: flex;
    align-items: center;
    &:hover {
        background-color: var(--font-blue);
    }
}

.contact-detail {
    width: 100%;
    margin-top: 1rem;
}

