.summary-cmpl {
    margin: 4rem;
    height: 100%;
    width: 100%;
}

/***** Headline *****/
.headline-content {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
    .headline-1 {
        font-size: 2.25rem;
        font-weight: 700;
        margin-right: 2rem;
    }
    .headline-txt {
        font-size: 1.25rem;
        padding: 0.5rem 1rem;
        border-left: 2px solid var(--font-blue);
    }
}

/***** Summary Content *****/
.summary-content {
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

/***** Cards *****/
.summary-cards {

}

.counter-cards {
    display: flex;
    margin-bottom: 2rem;
    .counter-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--background-light);
        border-radius: 1.5rem;
        width: 120px;
        height: 120px;
        margin-right: 2rem;
        &:last-child {
            margin-right: 0;
        }
        .task-count {
            display: flex;
            justify-content: center;
            font-size: 3rem;
            font-weight: 500;
            padding: 1rem 0 1.5rem 0;
        }
        .counter-info {
            text-align: center;
            padding: 0 1rem;
        }
    }
}

.urgency-task {
    background-color: var(--background-light);
    border-radius: 1.5rem;
    height: 120px;
}

/***** Greeting User *****/
.summary-greet {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    span {
        font-size: 1.75rem;
    }
    .greet-user {
        display: flex;
        flex-wrap: wrap;
        font-size: 2.25rem;
        font-weight: 700;
        color: var(--font-blue);
        margin-top: 1rem;
    }
}
