<div class="headline-content">
    <span class="headline-1 head-2">Summary</span>
    <span class="headline-txt">Everything is a nutshell</span>
</div>
<div class="summary-content">
    <div class="summary-cards">

        <div class="counter-cards">
            <div class="counter-card">
                <span class="task-count head-1">5</span>
                <span class="counter-info">Tasks in Board</span>
            </div>
            <div class="counter-card">
                <span class="task-count head-1">2</span>
                <span class="counter-info">Tasks in Progress</span>
            </div>
            <div class="counter-card">
                <span class="task-count head-1">2</span>
                <span class="counter-info">Awaiting Feedback</span>
            </div>
        </div>

        <div class="urgency-task">
            <div class="urgency-counter">
                <div class="urgency-icon">
                    <mat-icon>keyboard_double_arrow_up</mat-icon>
                </div>
                <div class="urgency-status">
                    <span class="urgency-count">1</span>
                    <span class="urgency-description">Urgent</span>
                </div>
            </div>
            <div class="urgency-info">
                <span class="urgency-date">October 16, 2022</span>
                <span class="urgency-date-txt">Upcoming Deadline</span>
            </div>
        </div>

        <div class="task-status">
            <div class="status-content">
                <div class="status-icon">
                    <mat-icon>edit</mat-icon>
                </div>
                <div class="status-count-cmpl">
                    <span class="status-count head-3">1</span>
                    <span>To-do</span>
                </div>
            </div>
            <div class="status-content">
                <div class="status-icon">
                    <mat-icon>done</mat-icon>
                </div>
                <div class="status-count-cmpl">
                    <span class="status-count head-3">1</span>
                    <span>Done</span>
                </div>
            </div>
        </div>

    </div>
    <div class="summary-greet">
        <span>Good morning,</span>
        <span class="greet-user">Max Mustermann</span>
    </div>
</div>