<div class="summary-cmpl">
    <div class="headline-content">
        <span class="headline-1">Summary</span>
        <span class="headline-txt">Everything is a nutshell</span>
    </div>
    <div class="summary-content">
        <div class="summary-cards">
            <div class="task-cards">

                <div class="task-card">
                    <span class="task-count">5</span>
                    <span class="task-txt">Tasks in Board</span>
                </div>
                <div class="task-card">
                    <span class="task-count">2</span>
                    <span class="task-txt">Tasks in Progress</span>
                </div>
                <div class="task-card">
                    <span class="task-count">2</span>
                    <span class="task-txt">Awaiting Feedback</span>
                </div>

            </div>

            <div class="task-urgency"></div>

            <div class="task-status">
                <div class="status-icon">
                    <div>ICON</div>
                    <div>
                        <span>1</span>
                        <span>To-do</span>
                    </div>
                </div>
                <div class="status-icon">
                    <div>ICON</div>
                    <div>
                        <span>1</span>
                        <span>Done</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="summary-greet">
            <span>Good morning,</span>
            <span class="greet-user">Max Mustermann</span>
        </div>
    </div>
</div>