
/***** Headline *****/
.headline-content {
    align-items: center;
    display: flex;
    padding-bottom: 2rem;
    margin-left: 3rem;
    margin-top: 3rem;

    .headline-1 {
        margin-right: 2rem;
    }
    .headline-txt {
        border-left: 2px solid var(--font-blue);
        font-size: 1.25rem;
        padding: 0.5rem 1rem;
    }
}

/***** Summary Content *****/
.summary-content {
    align-items: center;
    display: flex;
    margin-top: 2rem;
    margin-left: 3rem;
}

/***** Cards *****/
.summary-cards {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 1rem 0;
}

.counter-cards {
    display: flex;
    margin-bottom: 2rem;

    .counter-card {
        width: 100%;
        .counter-card-spacer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 6rem;
            .task-counter {
                display: flex;
                align-items: center;
                height: 60%;
            }
            .task-txt {
                height: 40%;
                font-weight: 300;
            }
        }
        &:first-child {
            margin-right: 1rem;
        }
        &:last-child {
            margin-left: 1rem;
        }
    }
}

.card-urgent {
    display: flex;
    width: 100%;
    .urgent-card-spacer {
        width: 100%;
        display: flex;
        .urgency-counter {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            .urgency-icon {
                background-color: var(--background-high);
                padding: 0.5rem;
                margin: 1.5rem;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                .icon {
                    width: 1.5rem;
                    height: 1.5rem;
                    object-fit: contain;
                }
            }
            .urgency-status {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .urgency-count {
                    margin-bottom: 1rem;
                }
                .urgency-description {
                    font-weight: 300;
                }
            }
        }
        .urgency-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
            border-left: 2px solid var(--shadow-color);
            .urgency-date {
                font-weight: 600;
                font-size: 1.05rem;
            }
            .urgency-date-txt {
                font-weight: 300;
                font-size: 0.8rem;
            }
        }
    }
}

.status-cards {
    display: flex;
    margin-top: 2rem;
    .status-card {
        width: 100%;
        .status-card-spacer {
            display: flex;
            align-items: center;
            justify-content: center;
            .status-icon {
                background-color: var(--primary-color);
                color: var(--font-white);
                padding: 0.25rem;
                width: 2rem;
                height: 2rem;
                margin: 1.5rem;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .status-count-cmpl {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 6rem;
                font-weight: 300;
                .status-count {
                    padding-bottom: 1rem;
                }
            }
        }
        &:first-child {
            margin-right: 1rem;
        }
    }
}

:host ::ng-deep .mat-card{
    border-radius: 1rem;
}

/***** Greeting User *****/
.summary-greet {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;

    span {
        font-size: 1.75rem;
    }
    .greet-user {
        color: var(--font-blue);
        display: flex;
        font-size: 2.25rem;
        font-weight: 700;
        line-height: 2rem;
        margin-top: 1rem;
        overflow-wrap: normal;
    }
}
