.login-cmpl {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
    width: 100%;
}

img {
    left: 5rem;
    object-fit: cover;
    position: absolute;
    top: 5rem;
    width: 6.25rem;
}

.login-sign-up {
    position: absolute;
    right: 5rem;
    top: 5rem;
    
    button {
        background-color: var(--primary-color);
        color: var(--font-white);
        margin-left: 1rem;
    }
}

.login-card {
    align-items: center;
    background-color: white;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    
    .hr-blue {
        border-top: 2px solid var(--font-blue);
        margin-top: 2rem;
        width: 7rem;
    }
    .login-email{
        margin-top: 1rem;
    }
}

.headline {
    font-size: 3rem;
    font-weight: 600;
}

mat-form-field {
    width: 24rem;
    
    mat-label {
        color: var(--form-label);
    }
    mat-icon {
        color: var(--form-label);
    }
}

.remember-login {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    a {
        color: var(--font-blue);
        text-decoration: none;
    }
}

.login-btns {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    button {
        &:first-child{
            background-color: var(--primary-color);
            color: var(--font-white);
        }
    }
}