:host {
    margin: 4rem;
}

.addtask-form {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    width: 100%;
}

.addtask-content {
    display: flex;

    span {
        font-weight: 300;
    }
}

.addtask-left {
    border-right: 1px solid var(--border-light);
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    width: 50%;
}

.addtask-right {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    width: 50%;
    mat-checkbox {
        font-weight: 300;
        margin-top: 0 !important;
    }
}

.addtask-prio-btn {
    display: flex;
    margin-bottom: 1rem;
    button {
        font-weight: 300;
        width: 6rem;
        margin-right: 0.5rem;

        .addtask-icon {
            margin-left: 0.25rem;
            height: 0.75rem;
            width: 0.75rem;
            object-fit: contain;
        }
    }
}

.addtask-sub {
    &:first-child {
        padding-bottom: 0;
    }
    &:last-child {
        border: none;
    }
}

textarea {
    height: 4rem;
}

mat-label {
    color: var(--form-label);
}

.addtask-checkboxes {
    margin-left: 1.5rem;
}

.addtask-btns {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    margin-top: 3rem;
    width: 100%;

    button {
        font-size: 1rem;
        height: 3rem;
    }
    .addtask-btn-clear {
        &:hover {
            border: 1px solid var(--font-blue);
            color: var(--font-blue);
        }
    }
    .addtask-btn-task {
        background-color: var(--primary-color);
        color: var(--font-white);
        &:hover {
            background-color: var(--font-blue);
        }
    }
}
