<div class="contact-detail">
    <div class="contact-detail-cmpl">
        <div class="detail-header">
            <div class="detail-shorttag">AM</div>
            <div class="detail-name-container">
                <div class="detail-name">Anton Mayer</div>
                <button class="detail-addtask">
                    <mat-icon>add</mat-icon> Add Task
                </button>
            </div>
        </div>
        <div class="detail-edit">
            <span>Contact Information</span>
            <button class="detail-edit-btn">
                <mat-icon>edit</mat-icon>Edit Contact
            </button>
        </div>
        <div class="detail-info">
            <div class="detail-email">
                <span class="detail-info-head">Email</span>
                <span class="detail-info-content">atom@text.de</span>
            </div>
            <div class="detail-phone">
                <span class="detail-info-head">Phone</span>
                <span class="detail-info-content">+49 1111111</span>
            </div>
        </div>
    </div>
</div>