.menu-elements {
    display: flex;
}

mat-toolbar {
    height: 4rem;
    border: 1px solid red;
}

mat-sidenav-container {
    position: sticky;
    height: 100vh;
    background-color: var(--primary-color);
}

mat-sidenav {
    border: 1px solid blue;
    width: 15rem;
    height: 100vh;

}

