:host {
    min-width: 50%;
}

.contacts-detail {
    height: 100%;
    width: 100%;
    position: relative;
    margin-left: 1rem;
}

.headline-content {
    align-items: center;
    display: flex;
    padding-bottom: 2rem;
    padding-top: 2rem;

    .headline-1 {
        margin-right: 2rem;
    }
    .headline-txt {
        border-left: 2px solid var(--font-blue);
        font-size: 1.25rem;
        padding: 0.5rem 1rem;
    }
}

.contact-add-btn {
    position: absolute;
    bottom: 3rem;
    right: 2rem;
    background-color: var(--primary-color);
    color: var(--font-white);
    display: flex;
    align-items: center;
    &:hover {
        background-color: var(--font-blue);
    }
}

.contact-detail {
    width: 100%;
    margin-top: 1rem;
}
