<div class="sidenav">
    <img class="logo" src="./assets/img/join.png">
    <table class="menu">
        <tr routerLink="/summary" routerLinkActive="active">
            <td class="nav-icon"><img src="./assets/img/summary.svg"></td>
            <td>Summary</td>
        </tr>
        <tr>
            <td class="nav-icon"><img src="./assets/img/board.svg"></td>
            <td>Board</td>
        </tr>
        <tr>
            <td class="nav-icon"><img src="./assets/img/add_task.svg"></td>
            <td>Add Task</td>
        </tr>
        <tr>
            <td class="nav-icon"><img src="./assets/img/contact.svg"></td>
            <td>Contacts</td>
        </tr>
    </table>
    <table class="menu menu-bottom">
        <tr>
            <td class="nav-icon"><img src="./assets/img/info.svg"></td>
            <td>Legal notice</td>
        </tr>
    </table>
</div>