/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    background-color: var(--background-color);
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
    --primary-color: #2A3647;
    --shadow-color: #00000022;
    --font-white: #ffffff;
    --font-white-trans: #ffffff99;
    --menu-hover-bgr: #081931;
    --background-color: #d9d9d916;
    --background-light: #ffffff;
    --font-blue: #28ABE2;
    --background-red: #FF3D00;
    --border-light: #00000022;
}

.head-1 {
    font-size: 3rem;
    font-weight: 500;
}

.head-2 {
    font-size: 2.25rem;
    font-weight: 700;
}

.head-3 {
    font-size: 2rem;
    font-weight: 700;
}

