/* You can add global styles to this file, and also import other style files */

html,
body {
    background-color: var(--background-color);
    height: 100%;
}
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
}

:root {
    --background-color: #e4e4e440;
    --background-high: #FF3D00;
    --background-light: #ffffff;
    --background-low: #7AE228;
    --background-med: #FFA800;
    --border-light: #00000022;
    --border-black: #000000;
    --font-grey: #00000077;
    --font-blue: #28ABE2;
    --font-white-trans: #ffffff99;
    --font-white: #ffffff;
    --form-label: #00000055;
    --menu-hover-bgr: #081931;
    --primary-color: #2A3647;
    --shadow-color: #00000022;
}

.head-1 {
    font-size: 3rem;
    font-weight: 500;
}

.head-2 {
    font-size: 2.25rem;
    font-weight: 700;
}

.head-3 {
    font-size: 2rem;
    font-weight: 700;
}

.head-4 {
    font-size: 1rem;
    font-weight: 500;
}

.bg-transparent {
    .mat-form-field-appearance-outline .mat-form-field-outline-thick {
        opacity: 0.4;
        background-color: var(--background-light);
        border-radius: 6px;
    }
}

.active {
    background-color: var(--menu-hover-bgr);
    color: var(--font-white);
}