<div class="menu-elements">
    <mat-sidenav #sidenav mode="side" opened class="sidenav">
        <img src="./assets/img/join.png">
        <div>
            <div><img src="./assets/img/summary.svg"><span>Summary</span></div>
            <div><img src="./assets/img/board.svg"><span>Board</span></div>
            <div><img src="./assets/img/add_task.svg"><span>Add Task</span></div>
            <div><img src="./assets/img/contact.svg"><span>Contacts</span></div>
        </div>
    </mat-sidenav>

    <mat-toolbar>
        <span>Kanban Project Management Tool</span>
    </mat-toolbar>

</div>

<router-outlet></router-outlet>