
.main {
    display: flex;
}

.main-spacer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

router-outlet {
    height: 100%;
}

/****** Z-Index ******/
app-sidenav {
    z-index: 2;
}

app-headerbar {
    z-index: 2;
}

router-outlet {
    z-index: 1;
}